// @media screen and (min-width: 320px) and (max-width: 768px)
.team {
    background-color: #F5F4FA;
    background-size: auto;
    width: 480px;
    height: 2761px;
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-decoration: Bold;
        letter-spacing: 3%;
        text-align: center;
        margin-bottom:50px;
    }
    &__list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: 450px;
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
    
        box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__figure {
        margin:auto 0;
    }
    &__figcaption {
        padding-right: 122px;
        padding-left: 122px;
        
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 3%;
        text-align: center;
        margin-top:30px;
        margin-bottom:10px;
    }
    &__job {
        color: #757575;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 3%;
        text-align: center;
        margin: 0 auto;
    }  
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    .team {
        &__photo {
            width: 450px;
            height: 460px;
        }
      &__photo--1 {
        background-image: url('../imagess/people/people1/people1-mobile@2x.jpg');
      }
      &__photo--2 {
        background-image: url('../imagess/people/people2/people2-mobile@2x.jpg');
      }
  
      &__photo--3 {
        background-image: url('../imagess/people/people3/people3-mobile@2x.jpg');
      }
      &__photo--4 {
        background-image: url('../imagess/people/people4/people4-mobile@2x.jpg');
      }
    }
  }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {
        &__title {
            font-size: 26px;
            line-height: 1.269;
        }
        &__photo {
            width: 354px;
            height: 374px;
        }
        &__item {
            width: 354px;
        }
        &__figure {
            margin: auto 0;
        }
        &__figcaption {
            padding-right: 122px;
            padding-left: 122px;
            
        }
        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.187;
            letter-spacing: 3%;
            text-align: center;
            margin-top:30px;
            margin-bottom:10px;
        }
    }
}

@media screen and (min-width: 1200px) {
.team {
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-decoration: Bold;
        letter-spacing: 3%;
        text-align: center;
        margin-bottom:50px;
    }
    &__list {
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    &__item {
        width: 270px;
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
    
        box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__figure {
        margin:auto 0;
    }
    &__photo {
        width: 270;
        height: 240;
    }
    &__figcaption {
        padding: 30px; 
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 3%;
        text-align: center;
        margin-bottom:10px;
    }
    &__job {
        color: #757575;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 3%;
        text-align: center;
        margin: 0 auto;
    }
}
}