.header__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.images__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.works {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.team__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    gap: 30px;
}
.client__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.button__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}