.container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.container__images {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        height: 400px;
        // padding: 118px 57px;
    }
    .container__images {
        max-width: 480px;
        height: 400px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        height: 400px;
        // padding: 118px 201px;
    }
    .container__images {
        max-width: 480px;
        height: 400px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        height: 600px;
        // padding: 280px 237px;
    }
    .container__images {
        max-width: 480px;
        height: 250px;
    }
}



// .team__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
//     gap: 30px;
// }
// .client__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
// }
// .footer__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
//     display: flex;
// }
// .button__container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px; 
// }