:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --secondary-color: #2F303A;
    --third-color: #F5F4FA;
}